{% extends "base.html" %}

{%block body%}

    <div class="flex flex-col items-center">
      <!-- Points Earned Page -->
      <div class="w-full max-w-4xl bg-gray-800 shadow-md rounded-lg my-4">
        <div class="bg-gray-700 p-4 text-center text-xl font-semibold relative">
          Points Earned
        </div>
        <div class="p-8">
          <div class="bg-gray-700 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex items-center">
              <i class="fab fa-facebook text-4xl text-blue-600 mr-4"></i>
              <div>
                <div class="text-lg font-semibold">Facebook</div>
                <div class="text-gray-400">Earned: 100 POINTS</div>
              </div>
            </div>
            <div class="bg-teal-500 text-white py-2 px-4 rounded">100 POINTS</div>
          </div>
          <div class="bg-gray-700 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex items-center">
              <i class="fab fa-snapchat text-4xl text-yellow-500 mr-4"></i>
              <div>
                <div class="text-lg font-semibold">Snapchat</div>
                <div class="text-gray-400">Earned: 75 POINTS</div>
              </div>
            </div>
            <div class="bg-teal-500 text-white py-2 px-4 rounded">75 POINTS</div>
          </div>
          <div class="bg-gray-700 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex items-center">
              <i class="fab fa-linkedin text-4xl text-blue-700 mr-4"></i>
              <div>
                <div class="text-lg font-semibold">LinkedIn</div>
                <div class="text-gray-400">Earned: 150 POINTS</div>
              </div>
            </div>
            <div class="bg-teal-500 text-white py-2 px-4 rounded">150 POINTS</div>
          </div>
          <div class="bg-gray-700 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex items-center">
              <i class="fab fa-twitter text-4xl text-blue-400 mr-4"></i>
              <div>
                <div class="text-lg font-semibold">Twitter</div>
                <div class="text-gray-400">Earned: 150 POINTS</div>
              </div>
            </div>
            <div class="bg-teal-500 text-white py-2 px-4 rounded">150 POINTS</div>
          </div>
          <div class="bg-gray-700 p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex items-center">
              <i class="fab fa-instagram text-4xl text-pink-500 mr-4"></i>
              <div>
                <div class="text-lg font-semibold">Instagram</div>
                <div class="text-gray-400">Earned: 120 POINTS</div>
              </div>
            </div>
            <div class="bg-teal-500 text-white py-2 px-4 rounded">120 POINTS</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{%endblock body%}